@model TestProject.ViewModels.DetailViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Isbn" class="control-label"></label>
                <input asp-for="Book.Isbn" class="form-control" />
                <span asp-validation-for="Book.Isbn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Summary" class="control-label"></label>
                <input asp-for="Book.Summary" class="form-control" />
                <span asp-validation-for="Book.Summary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Authors" asp-action="Details" asp-route-id="@Model.Author.AuthorID">Back to List</a>
</div>

