@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>TestProject</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to TestProject</h2>
        <p>
            TestProject is a sample application that
            use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
</div>

