@model TestProject.ViewModels.ViewModel

@{
    ViewData["Title"] = "Authors";
}

<h1>Authors Index</h1>



<p>
    <a asp-action="Create">Create a new author</a>
</p>

<div id="AuthorList">
    <partial name="_AuthorList" model="Model" />
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Alert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this author?
            </div>
            <div class="modal-footer">
                <button id="confirmYes" type="button" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button id="confirmNo" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $('#confirmationModal').on('shown.bs.modal', (event) => {
            var modalTrigger = $(event.relatedTarget);
            var form = modalTrigger.parent();
            
            $('#confirmYes').on('click', () => {
                form.submit();
                $('#confirmYes').off();
            });
        });
    </script>
}
